<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/hero" routerLinkActive="active">Hero -- {{heroCount}}</a>
    </li>
    <li>
      <a routerLink="/bank" routerLinkActive="active">Bank</a>
    </li>
    <li>
      <a routerLink="/aboutus" routerLinkActive="active">AboutUs Lazy Module</a>
    </li>
    <li>
      <a routerLink="/changeDetection" routerLinkActive="active">Change Detection</a>
    </li>
    <li>
      <a routerLink="/cricket" routerLinkActive="active">Cricket Websocket</a>
    </li>
  </ul>
</nav>