 <div class="container">
  <div class="row">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
      <bs-battle-area class="col-md-6" 
          *ngFor="let battleArea of battleAreas" 
          [battleArea]="battleArea" 
          (launchMissileEvent)="onLaunchMissile($event)"></bs-battle-area>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h3 *ngIf="battleResult">Congratulations {{battleResult}}</h3>
      <ul class="list-group">
        <li class="list-group-item" 
            *ngFor="let log of logs; let i=index" 
            [ngClass]="logClass(log)">{{log}}</li>
      </ul>
    </div>
  </div>
</div> 