  <h1>Angular Router{{title}}</h1>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/aboutUs" routerLinkActive="active">About Us</a>
    <a routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
  </nav>
  <router-outlet></router-outlet>
  {{hero}}
<ul class="heroes">
  <li *ngFor="let hero of heroes" 
    (click)='onSelect(hero)'
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<h1 *ngIf="selectedHero">{{selectedHero.name}} - {{selectedHero.id}}</h1>
<h1>{{selectedHero?.name}} - {{selectedHero?.id}}</h1>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name"/>
  </div>
</div>

<div>
  <label>name: </label>
  <input [(ngModel)]="heroObj.id" placeholder="id">
  <input [(ngModel)]="heroObj.name" placeholder="name">
</div>