<h2>Hero Detail</h2>
<h3><i>Just a FormControl</i></h3>
<form [formGroup]="heroForm" novalidate (ngSubmit)="onSubmit()">
  <label class="center-block">Name:
    <input class="form-control" formControlName="name">
  </label>
  <label class="center-block">Age:
    <input class="form-control" formControlName="age">
  </label>
  <select class="form-control" formControlName="hobby">
    <option value="">Select Hobby</option>
    <option *ngFor="let hobby of hobbies" [value]="hobby">{{hobby}}</option>
  </select>
  <button type="submit">{{buttonActionText}}</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
<p>Name value: {{ heroForm.get('name').value }}</p>